<div class="container">
  
  <div class="span12">
    
    <h1>&nbsp; </h1>
    
    <div class="well" >
     
    <div id="myCarousel" class="carousel vertical slide" >
     
	<ol class="carousel-indicators-top">
		   <a class="left carousel-control" href="#myCarousel" data-slide="prev">▲</a>
	</ol>


    <ol class="carousel-indicators" style = "right: 50%;	top: auto;	bottom: 0px; margin-right: -19px;">
       <a class="right carousel-control" href="#myCarousel" data-slide="next">▼</a>
    </ol>
     
    <!-- Carousel items -->
    <div class="carousel-inner">
        
    <div class="item active">
        <div class="row-fluid">
		  <table>
		  <tr>
			<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/1.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
		  </tr>
		  <tr>
			<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/2.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
		  </tr>
		  <tr>
			<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/3.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
		  </tr>
		  <tr>
			<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/4.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
		  </tr>
		  </table>
        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row-fluid">
           <table>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/5.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/6.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/7.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/8.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
		  </table>
        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row-fluid">
			<table>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/9.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/10.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/11.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			  <tr>
				<td><div class="span3"><a href="#x" style = " width:50px; " class="thumbnail"><img src="testimage/12.gif" alt="Image" style="max-width:100%; width:50px;"></a></div></td>
			  </tr>
			</table>
        </div><!--/row-fluid-->
    </div><!--/item-->
     
    </div><!--/carousel-inner-->     
    
    </div><!--/myCarousel-->
     
    </div><!--/well-->
  </div>
</div>
