
    <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInDown">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <!-- slide -->
                            <div class="active item slide1">
                      <div id="map_canvas1" style="height:300px; max-width: 100%;"></div>
<script type="text/javascript">
function initialize(){
    var latlng1 = new google.maps.LatLng(35.697456,139.702148);

    var opts1 = {
      zoom: 13,
      center: latlng1,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  var map1 = new google.maps.Map(document.getElementById("map_canvas1"), opts1);

}
google.maps.event.addDomListener(window, "load", initialize);
</script> 
                                <div class="carousel-caption">
  <h4>caption</h4>
  <p>Measure is a beautiful Wrapbootstrap theme for businesses and creative professionals.</p>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide2">
                   <div id="map_canvas2" style="height:300px; max-width: 100%;"></div>
<script type="text/javascript">
function initialize(){
    var latlng2 = new google.maps.LatLng(35.697456,139.702389);

    var opts2 = {
      zoom: 13,
      center: latlng2,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  var map2 = new google.maps.Map(document.getElementById("map_canvas2"), opts2);

}
google.maps.event.addDomListener(window, "load", initialize);
</script>

                                <div class="carousel-caption">
  <h4>caption2</h4>
  <p>Measure is a beautiful Wrapbootstrap theme for businesses and creative professionals.</p>

                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="img/slide3.png" alt="slide3" />
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="intro">
        <div class="container">
            <h1>Measure is a beautiful Wrapbootstrap theme for 
                businesses and creative professionals.</h1>
        </div>
    </div>

    <!-- features -->
    <div id="features">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Features</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="img/feature1.jpg" alt="feature1" class="thumb" />
                    <h3>
                        <i class="i_cloud"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised
                        words which don't look even slightly believable.
                    </p>
                    <a href="#" class="btn btn-default">more</a>
                </div>
                <div class="span4 feature">
                    <img src="img/feature2.jpg" alt="feature2" class="thumb" />
                    <h3>
                        <i class="i_chart"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised
                        words which don't look even slightly believable.
                    </p>
                    <a href="#" class="btn btn-default">more</a>
                </div>
                <div class="span4 feature">
                    <img src="img/feature3.jpg" alt="feature3" class="thumb" />
                    <h3>
                        <i class="i_movil"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised
                        words which don't look even slightly believable.
                    </p>
                    <a href="#" class="btn btn-default">more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- starts testimonial -->
    <div id="testimonials">
        <div class="container">
            <div class="controls">
                <hr>
            </div>
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="img/pic1.jpg" alt="author" class="img-circle" />
                                <span class="name">Alejandra Galvan Castillo</span>
                                <span class="position">Bootstrap wizard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
