
  <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>

