
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
            </h2>

            <!-- feature list -->
            <div class="row">
                <div class="span8">
                main things
 
                </div>
                <div class="span4">
                <%= render "shared/home_sidebar" %>
                </div>
            </div>


 <h2 class="section_header">
                <hr class="left visible-desktop">
            </h2>
       </div>
