@import "bootstrap";
@import "bootstrap-responsive";
/* navbar-fixed-topにより重なりを防ぐ*/
body { padding-top: 60px;}

/* Navbar
   -------------------------------------------------- */
.navbar-fixed-top {
	margin-bottom: 0;
}
.navbar-fixed-top.scroll {
opacity: 0.96;
}
.navbar-inner {
	border-bottom: 0 none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
filter: none;
padding: 7px 0 8px 0;
	 /*background: none repeat scroll 0 0 #242b35;*/
background: url("nav_bg.jpg") 0 0 repeat;
}
.navbar .brand {
	font-size: 26px;
	text-shadow: none;
}
.navbar .nav.pull-right {
top: 10px;
     /*margin-right: 40px;*/
}
.navbar .nav > li > a {
color: #F8F8F8;
       font-size: 15px;
       font-weight: bold;
       text-shadow: none;
       -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
       -o-transition: all .2s linear;
transition: all .2s linear;	
}
.navbar .nav > li > a:hover {
color: #ccc;		
}
.navbar .nav > li.active > a,
	.navbar .nav > li.active:hover > a,
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
		padding-bottom: 4px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-moz-box-shadow: none;
background: none;
color: #fff;
	}
.btn-dropnav {
float: right;
       margin-left: 5px;
       margin-right: 5px;
padding: 7px 10px;
display: none;
}
.btn-dropnav .icon-bar {
	background-color: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);	
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
display: block;
height: 2px;
width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
	margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
	.navbar .nav li.dropdown.active > .dropdown-toggle, 
	.navbar .nav li.dropdown.open.active > .dropdown-toggle {
background: none;
color: #fff;
	}
.dropdown-menu li > a:hover,
	.dropdown-menu li > a:focus,
	.dropdown-submenu:hover > a {
		background-color: #475B77 !important;
		text-decoration: none;
color: #ffffff;
       background-image: -moz-linear-gradient(top, #475B77, #475B77);
       background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475B77), to(#475B77));
       background-image: -webkit-linear-gradient(top, #475B77, #475B77);
       background-image: -o-linear-gradient(top, #475B77, #475B77);
       background-image: linear-gradient(to bottom, #475B77, #475B77);
       background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
	}
.navbar .btn-navbar .icon-bar {
display: block;
width: 18px;
height: 2px;
	background-color: #5FAF08;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
@media (max-width: 979px) {
	.nav-collapse .nav > li > a:hover,
		.nav-collapse .dropdown-menu a:hover {
background: none !important;
		}
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
color: #ccc;
	}
}

.navbar .nav .btn-header {
background: #414A57;
background: -moz-linear-gradient(top, #414A57 0%, #292f38 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414A57), color-stop(100%,#292f38));
background: -webkit-linear-gradient(top, #414A57 0%,#292f38 100%);
background: -o-linear-gradient(top, #414A57 0%,#292f38 100%);
background: -ms-linear-gradient(top, #414A57 0%,#292f38 100%); 
background: linear-gradient(to bottom, #414A57 0%,#292f38 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414A57', endColorstr='#292f38',GradientType=0 );
border: 1px solid #13161b;
	border-radius: 6px;
display: inline-block;
height: 10px;
	line-height: 8px;
position: relative;
top: -4px;
     margin-left: 8px;
}
.navbar .nav .btn-header:hover {
background: #545F6D;
background: -moz-linear-gradient(top, #545F6D 0%, #303946 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545F6D), color-stop(100%,#303946));
background: -webkit-linear-gradient(top, #545F6D 0%,#303946 100%);
background: -o-linear-gradient(top, #545F6D 0%,#303946 100%);
background: -ms-linear-gradient(top, #545F6D 0%,#303946 100%); 
background: linear-gradient(to bottom, #545F6D 0%,#303946 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545F6D', endColorstr='#303946',GradientType=0 );
}

/* Carousel css*/

/* side search form*/

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
/* side search form*/
